.section_4{
    background-image: url("../imagenes/seccion4/bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;

    > div {
        background-color: rgba(58, 58, 58, 0.7);
        height: 250px;
        position: relative;
        color: #fff;

        .hot {
            font-weight: 700;
            background-color: #ff084e;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            padding: 5px 1rem !important;
            position: absolute;
            top: 25px;
        }

        .triangulo {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #ff084e;
            transform: rotate(90deg);
            position: absolute;
            top: 50px;
        }

        h2 {
            text-transform: uppercase;
            font-weight: 700;
        }

        .precio {
            color:  #ff084e;
            font-weight: bold;
            font-size: 1.3rem;
        }

    }
}