@charset "UTF-8";
header > div:first-of-type div:last-of-type i:first-of-type {
  font-size: 1.3rem;
}
header > div:first-of-type div:last-of-type i:last-of-type {
  background-color: var(--fondo-3);
  color: var(--color-1);
  border-radius: 50%;
}
header > div:first-of-type div:last-of-type span .quitar-fondo {
  background-color: var(--fondo-1);
}
header div .contacto {
  background-color: var(--fondo-1);
  color: var(--color-1);
  font-weight: 600;
}
header .flecha {
  width: 40px;
  height: 40px;
  background-color: var(--fondo-1);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
header .flecha a {
  text-decoration: none;
}
header .flecha a i {
  color: var(--color-1);
  font-size: 1.5rem;
}

.catalogo_productos {
  background-color: red !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style-type: none;
  margin: auto;
}

:root {
  --fondo-1: #ff084e;
  --fondo-2: #b8b8b8;
  --fondo-3: #3a3a3a;
  --color-1: #ffffff;
  --color-2: #9f9f9f;
  --color-3: #3a3a3a;
  --color-4: #e5e5e5;
  --color-5: #000000;
  --borde-1: 2px solid var(--color-4);
}

footer {
  border-top: var(--borde-1);
  display: flex;
  justify-content: center;
}
footer > div {
  max-width: 1200px;
}
footer > div div:first-of-type p {
  color: var(--color-2);
}
footer div ul {
  margin-bottom: 60px;
}
footer div ul li {
  margin-bottom: 10px;
}
footer div ul li a {
  text-decoration: none;
  color: var(--color-3);
  font-weight: 600;
  font-size: 0.9rem;
}
footer .footer-form {
  max-width: 550px;
  margin: auto;
}
footer .footer-form span {
  color: var(--fondo-3);
  font-weight: 700;
  margin-bottom: 10px;
}
footer .footer-form form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-form form input {
  border: none;
  border-radius: 0;
  font-size: 12px;
  height: 50px;
  padding: 5px 15px;
  background-color: #f0eded;
  color: #929191;
  font-style: italic;
  width: calc(100% - 133px);
}
footer .footer-form form button {
  background-color: #3a3a3a;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  text-transform: uppercase;
  padding: 0 30px;
  font-weight: 700;
  margin: -4px;
}
footer .footer-iconos {
  margin-bottom: 50px;
  border-top: var(--borde-1);
  padding-top: 30px;
}
footer .footer-iconos a {
  color: var(--color-5);
  text-decoration: none;
  font-size: 1.1rem;
}
footer .footer-iconos a i {
  margin: 0px 20px;
}

.section_1 .contenedor {
  padding: 3rem 0;
  color: var(--color-1);
  font-size: 17px;
  font-weight: 700;
}
.section_1 .contenedor span:last-of-type {
  font-size: 14px;
  margin-top: 10px;
}
.section_1 .contenedor-1 {
  background-color: var(--fondo-2);
}
.section_1 .contenedor-2 {
  background-color: var(--fondo-1);
}
.section_1 .contenedor-3 {
  background-color: var(--fondo-3);
}

.section_2 .carrusel {
  height: 500px;
  width: 100%;
  z-index: -2;
  position: relative;
  background-image: url("../imagenes/seccion2/bg-2.jpg");
  background-position: center;
  background-size: cover;
}
.section_2 .carrusel div .carrusel-oferta {
  color: var(--color-1);
  font-weight: 600;
}
.section_2 .carrusel div h2 {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-1);
}
.section_2 .carrusel div div {
  margin-top: 1.4rem;
}
.section_2 .carrusel div div span:last-of-type {
  color: var(--color-1);
  border: 3px solid #fff;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.section_2 .carrusel .aparecer {
  left: 0;
}
.section_2 .carrusel .contentnt-btn {
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_2 .carrusel .contentnt-btn .btn {
  background-color: #ffffff;
  height: 25px;
  width: 25px;
  margin: 10px;
  border-radius: 100%;
  display: flex;
  position: relative;
}
.section_2 .carrusel .contentnt-btn .btn div {
  background-color: black;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100%;
}
.section_2 .carrusel::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.section_2 .contenedor-moda {
  height: 400px;
  background-size: cover;
  background-position: center;
  color: var(--color-1);
}
.section_2 .contenedor-moda-1 span:first-of-type,
.section_2 .contenedor-moda-2 span:first-of-type {
  font-weight: 700;
  text-shadow: 0.5px 0.5px 20px rgba(0, 0, 0, 0.493);
}
.section_2 .contenedor-moda-1 span:nth-child(2),
.section_2 .contenedor-moda-2 span:nth-child(2) {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 0.5px 0.5px 20px rgba(0, 0, 0, 0.493);
}
.section_2 .contenedor-moda-1 span:last-of-type,
.section_2 .contenedor-moda-2 span:last-of-type {
  font-size: 1.1rem;
  padding: 1rem 0;
  border: 3px solid #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 20px rgba(0, 0, 0, 0.493);
}
.section_2 .contenedor-moda-1 {
  background-image: url("../imagenes/seccion2/bg-1.jpg");
}
.section_2 .contenedor-moda-2 {
  background-image: url("../imagenes/seccion2/bg-4.jpg");
  height: 400px;
}

.section_3 {
  max-width: 1200px;
}
.section_3 h2 {
  color: var(--color-3);
  text-transform: uppercase;
  font-weight: 700;
}
.section_3 div .categorias {
  color: var(--color-2);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85rem;
}
.section_3 div div div .nuevos-precio {
  font-size: 1.5rem;
  color: var(--color-2);
}
.section_3 div div div .nuevos-nombre {
  color: var(--color-2);
  font-weight: 400;
}
.section_3 div div div .nuevos-añadir {
  color: var(--fondo-1);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.section_4-maximo {
  background-image: url("../imagenes/seccion4/bg.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
}
.section_4-maximo .section_4 {
  max-width: 1200px;
}
.section_4-maximo .section_4 > div {
  background-color: rgba(58, 58, 58, 0.7);
  height: 340px;
  max-width: 550px;
  position: relative;
  color: #fff;
}
.section_4-maximo .section_4 > div .conocer {
  font-size: 1.1rem;
  padding: 1rem 0;
  border: 3px solid #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 20px rgba(0, 0, 0, 0.493);
  max-width: 200px;
  text-align: center;
  margin-top: 30px !important;
}
.section_4-maximo .section_4 > div .hot {
  font-weight: 700;
  background-color: #ff084e;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 1rem !important;
  position: absolute;
  top: 40px;
}
.section_4-maximo .section_4 > div .triangulo {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ff084e;
  transform: rotate(90deg);
  position: absolute;
  top: 65px;
}
.section_4-maximo .section_4 > div h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: initial !important;
}
.section_4-maximo .section_4 > div span {
  margin: initial !important;
}
.section_4-maximo .section_4 > div .precio {
  color: #ff084e;
  font-weight: bold;
  font-size: 1.3rem;
}

.section_5 {
  overflow: hidden;
  max-width: 1200px;
}
.section_5 h2 {
  text-transform: uppercase;
  color: var(--color-3);
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.section_5 .contenedor-padre {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: all 0.3s ease-in;
  margin-left: 0;
  margin: auto;
}
.section_5 .contenedor-padre .hijo {
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;
}
.section_5 .contenedor-padre .hijo div div:first-of-type img {
  max-width: 50px;
}
.section_5 .contenedor-padre .hijo div p {
  color: var(--color-2);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  min-height: 300px;
}
.section_5 .contenedor-padre .hijo div .foto_reseña {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.section_5 .contenedor-padre .hijo div .foto_reseña + div span:first-of-type {
  color: var(--color-3);
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.section_5 .contenedor-padre .hijo div .foto_reseña + div span:last-of-type {
  color: var(--fondo-1);
  font-size: 0.8rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

main {
  max-width: 1500px !important;
}
main .catalogo_productos {
  background-color: red !important;
}

@media (min-width: 350px) {
  .index .section_5 .contenedor-padre .hijo div p {
    min-height: auto;
    width: 80%;
  }
}
@media (min-width: 768px) {
  .section_4-maximo .section_4 > div {
    height: 340px;
    min-width: 550px;
  }
}/*# sourceMappingURL=style.css.map */