* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
}

:root {
    --fondo-1: #ff084e;
    --fondo-2: #b8b8b8;
    --fondo-3: #3a3a3a;

    --color-1: #ffffff;
    --color-2: #9f9f9f;
    --color-3: #3a3a3a;
    --color-4: #e5e5e5;
    --color-5: #000000;
    --color-6: #ebebeb;

    --borde-1: 2px solid var(--color-4);
}
