.contenedor_alumno {
    border: var(--borde-1);
    max-width: 700px;
    margin: auto;
    padding: .5rem;
}

.contenedor_alumno div .referencia {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-3);
}

.contenedor_alumno div .referencia span {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--color-2);
    text-transform: capitalize;
}