.section_4-maximo {
        background-image: url("../imagenes/seccion4/bg.jpg");
        height: 600px;
        background-size: cover;
        background-position: center;

        .section_4{
        max-width: 1200px;

        > div {
            background-color: rgba(58, 58, 58, 0.7);
            height: 340px;
            max-width: 550px;
            position: relative;
            color: #fff;
            
            .conocer {
                font-size: 1.1rem;
                padding: 1rem 0;
                border: 3px solid #fff;
                font-weight: 700;
                text-transform: uppercase;
                text-shadow: 0.5px 0.5px 20px rgba(0, 0, 0, 0.493);
                max-width: 200px;
                text-align: center;
                margin-top: 30px !important;
            }
    
            .hot {
                font-weight: 700;
                background-color: #ff084e;
                color: #fff;
                text-transform: uppercase;
                font-size: 12px;
                padding: 5px 1rem !important;
                position: absolute;
                top: 40px;
            }
    
            .triangulo {
                width: 0;
                height: 0;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #ff084e;
                transform: rotate(90deg);
                position: absolute;
                top: 65px;
            }
    
            h2 {
                text-transform: uppercase;
                font-weight: 700;
                margin: initial !important;
            }
    
            span {
                margin: initial !important;
            }
            
            .precio {
                color:  #ff084e;
                font-weight: bold;
                font-size: 1.3rem;
            }
    
        }
    }
    
}

